/* Base styles */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type="number"],
select {
  width: calc(50% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.currency-container {
  position: relative;
}

.flag {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: auto;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Responsive styles */

@media (max-width: 600px) {
  .container {
      margin: 20px auto;
      padding: 10px;
  }

  input[type="number"],
  select {
      width: 100%;
  }
}
